body
{
	background-color: #2d2d2d;
}

p
{
	color: white;
}

a:link {
	color: #ffffff;
	background-color: transparent;
  	text-decoration: none;
}

a:visited {
	color: #ffffff;
	background-color: transparent;
	text-decoration: none;
}

a:active {
	color: black;
	background-color: transparent;
	text-decoration: underline;
}

a:hover {
	color: #ffffff;
	background-color: transparent;
	text-decoration: underline;
}

.active a:visited
{
	color: black;
}

.gros
{
	font-size: 30px;
}

.flotte {
	float:right;
}

.titre
{
	font-size: 30px;
	text-align: center;

}

#entete, #menu, #contenu, #footer{
	padding: 1px 0;
}

#entete{
	text-align: center;
	background: url(image/logo.png) top left no-repeat;
}

#main{
	max-width: 1900px;

}

#menu  {
	float: left;
	width: 240px;

}

#contenu {
	margin-left: 245px;

}

#footer {

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	clear: both;
	background: url(image/unesco.png) left no-repeat, url(image/upem.png) center no-repeat;

}

#boutons
{
	font-size: 40px;
	display: flex;
    justify-content: space-around;
}

#boutons .bouton
{
	background-color: #4c4c4c;
	width: 18%;
}

#boutons .active
{
	background-color: #f34c29;
}



